.content-slider {
  display: flex;
  width: 500px;
  height: auto;
  /* background-color: aqua; */
}

.content-slider .content {
  display: block;
  /* background-color: black; */
  width: 250px;
  height: auto;
}

/* Slider - 01 */

.slider {
  height: 400px;
  margin: auto;
  position: relative;
  width: 90%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.slide-track {
  height: calc(100px * 12);
  animation: scroll 10s linear infinite;
}

.slide-track:hover {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(calc(-100px * 6));
  }
}

.slide {
  height: 100px;
  width: 200px;
  display: flex;
  align-items: center;
  padding: 15px;
  perspective: 100px;
}

#integrate .content-slider .content img {
  width: 100%;
  transition: transform 1s;
}

#integrate .content-slider .content img:hover {
  transform: translateZ(20px);
}

/* shadow */
.slider::before,
.slider::after {
  background: linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  width: 100%;
  position: absolute;
  height: 15%;
  z-index: 2;
}

.slider::before {
  left: 0;
  bottom: 0;
  transform: rotateX(180deg);
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateY(180deg);
}

/* slide track 2 */

.slide-track2 {
  height: calc(100px * 12);
  animation: scroll-2 10s linear infinite;
}

.slide-track2:hover {
  animation-play-state: paused;
}

@keyframes scroll-2 {
  100% {
    transform: translateY(0);
  }
  0% {
    transform: translateY(calc(-100px * 6));
  }
}
