@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

body {
  font-family: "Manrope", sans-serif;
  color: #1e1e1e;
}

.section-padding {
  padding-top: 8em;
  padding-bottom: 8em;
}

body .hero-img {
  height: 35em;
}

h1 {
  color: #1e1e1e;
  font-size: 70px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 91px */
  letter-spacing: -1.4px;
}

h2 {
  color: #fff;
  text-align: center;
  font-family: Manrope;
  font-size: 55px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 71.5px */
  letter-spacing: -1.1px;
}

p {
  color: #5a5a5a;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 32px */
  letter-spacing: -0.2px;
}

/* hero */

.btn-hero {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  background: #6956e5;
  box-shadow: 0px 5px 20px 0px rgba(105, 86, 229, 0.25);
  color: white;
  text-align: center;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.btn-hero:hover {
  background-color: #9182f0;
  color: white;
}

/* features */

.btn-features {
  padding: 12px 32px;
  border-radius: 30px;
  border: 1px solid #6956e5;
  box-shadow: 0px 5px 20px 0px rgba(105, 86, 229, 0.25);
  color: #6956e5;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}

.btn-features:hover {
  background-color: #6956e5;
}

#features {
  background-color: #1e1e1e;
}

#features .sec-features {
  background-color: #232228;
  padding: 14px 45px;
  margin: 25px;
  border-radius: 15px;
}

#features img {
  margin-bottom: 19px;
}

#features .sec-features h3 {
  color: #fff;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.72px;
  margin-bottom: 19px;
}

#features .sec-features p {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 19px;
}

/* integrate */

#integrate h1 {
  color: #1e1e1e;
  font-size: 55px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 71.5px */
  letter-spacing: -1.1px;
  max-width: 80%;
  margin-bottom: 16px;
}

#integrate p {
  color: #5a5a5a;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 27px */
  margin-bottom: 44px;
}

/* investment */

#investment {
  background-color: #1e1e1e;
}

#investment .line {
  display: block;
  height: 2px;
  width: 100%;
  background-color: #85848a;
  opacity: 30%;
}

#investment p {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 27px */
}

#investment .pricing {
  background-color: #39383d;
  padding: 35px;
  border-radius: 20px;
  margin: 0 15px 0 15px;
  width: 375px;
  min-height: 680px;
}

#investment .pro {
  background-color: #6956e5;
}

#investment .pro .label-pro {
  display: block;
  padding: 8px 16px;
  border-radius: 20px;
  border-style: solid;
  border-color: #fff;
}

#investment .pricing p {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  margin-top: 15px;
}

#investment .pricing h3 {
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
}

#investment .btn-pricing {
  border-radius: 50px;
  border-width: 1px;
  border-color: #fff;
  color: #fff;
  padding: 12px 24px;
  font-weight: 600;
  font-size: 16px;
  font-style: normal;
}

#investment .btn-pricing:hover {
  background-color: #fff;
  color: #39383d;
}

/* testimonials */

#testimonials h1 {
  color: #212529;
  font-size: 55px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 71.5px */
  letter-spacing: -1.1px;
}

#testimonials p {
  color: #7b69ee;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: -0.2px;
}

#testimonials .testi-p {
  color: #5a5a5a;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
}

/* footer */

#footer {
  background-color: #111113;
}

#footer .footer {
  max-width: 60%;
}

#footer h1 {
  color: #fff;
  text-align: center;
  font-family: Manrope;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

#footer .footer .btn-email {
  border-radius: 30px;
  padding: 12px 32px;
  background-color: #7b69ee;
}

#footer .footer .input-email {
  background-color: #111113;
  border-width: 0.6px;
  border-style: solid;
  border-color: #fff;
  border-radius: 30px;
  text-align: center;
  width: 18em;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding: 10px;
}

#footer .footer .link {
  padding-top: 145px;
}

#footer a {
  color: #e8e8e9;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  margin: 20px;
}
